@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.left-links,
.right-links{
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.right-links{
  padding-right: 24px;
}

a{
  text-decoration: none;
  color:grey;
}

ul{
  list-style-type: none;
  display: flex;
}

.cont{
  display: flex;
  flex-direction: column;
}

.footer{
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background: #eee;
}

.content{
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
